<div class="main">

  <div class="cover black" data-color="black"></div>

  <!--  You can change the black color for the filter with those colors: blue, green, red, orange -->

  <div class="container">
    <h1 class="logo cursive animated fadeIn">
      <img class="animated pulse infinite" src="images/logo.svg" height="250" alt="">
      <span class="hvr-shadow-radial">ҽ B◔T</span>
    </h1>

    <div class="content">
      <div class="subscribe">
        <h5 class="info-text animated fadeIn" start-timeout="2000" type-speed="40" typed
            type-strings="[
              '<b>S</b>^1000',
              '<b>A</b>^1000',
              '<b>M</b>^1000',
              'Meet <b>Sam</b>,^1200 your^1000 best ever Assistant^1000 ...'
          ]" html-mode>
        </h5>
      </div>
    </div>
  </div>
</div>
