.home-wrapper {
  timer {
    display: inline;
    position: absolute;
    top: 25px;
    right: 0;
    left: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    z-index: 9999;
    text-align: center;
  }

  /* when not listening */
  .bubble-pulse {
    animation: bubble-pulse 1.5s infinite;
  }
  @-webkit-keyframes bubble-pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes bubble-pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }

  /* when starts listening */
  .bubble-pulse-listening {
    animation: bubble-pulse-listening 1.5s infinite;
  }
  @-webkit-keyframes bubble-pulse-listening {
    0% {
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    90% {
      box-shadow: 0 0 0 500px rgba(204, 169, 44, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
  }
  @keyframes bubble-pulse-listening {
    0% {
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    90% {
      box-shadow: 0 0 0 500px rgba(204, 169, 44, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
  }
}
