.home-wrapper {
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100%;
  padding-top: 75px;
  background-size: cover;
  position: absolute;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  left: 0;
  .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
  }
  .no-timeline-badge-shadow {
    box-shadow: none !important;
    i {
      vertical-align: baseline;
    }
  }
  .timeline-panel-style {
    background-color: rgba(158, 158, 158, 0.20);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    color: white !important;
    border: none;
  }
  .timeline-panel {
    h4 {
      margin: 15px 0 10px;
    }
    p {
      font-family: 'Oxygen', sans-serif !important;
      word-wrap: break-word;
      line-height: 20px;
    }
    .time {
      font-family: sans-serif !important;
      font-size: 12px;
      margin: 0;
      //color: #9e9e9e;
      .emogi {
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .sent-from {
        cursor: default;
      }
    }
  }
  .timeline-panel-style:after, .timeline-panel-style:before { display: none !important; }
  .timeline {
    &:before {
      //width: 2px;
      //margin-left: -0.5px;
      display: none;
    }
    //timeline-event:last-child {
    //  li {
    //    margin-bottom: 7.8%;
    //  }
    //}
    timeline-event:first-child {
      li {
        margin-top: 1.7%;
      }
    }
  }
  .fixed-input {
    position: fixed;
    bottom: 18.6px;
    left: 6%;
    //z-index: 999;
    width: 90%;
    .text-overlay {
      background-color: #0000002b;
      input {
        //background-color: rgba(158, 158, 158, 0.2);
        box-shadow: 0 20px 10px -10px rgba(0, 0, 0, 0.5);
        color: black;
        height: 52px;
        border: none;
      }
    }
  }

  /* when not listening */
  .bubble-pulse {
    animation: bubble-pulse 1.5s infinite;
  }
  @-webkit-keyframes bubble-pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes bubble-pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }

  /* when starts listening */
  .bubble-pulse-listening {
    animation: bubble-pulse-listening 1.5s infinite;
  }
  @-webkit-keyframes bubble-pulse-listening {
    0% {
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    90% {
      box-shadow: 0 0 0 500px rgba(204, 169, 44, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
  }
  @keyframes bubble-pulse-listening {
    0% {
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    90% {
      box-shadow: 0 0 0 500px rgba(204, 169, 44, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
  }
}
