.home-wrapper {
  padding-top: 75px;
  background-size: cover;
  position: absolute;
  background-position: center;
  width: 100%;
  left: 0;
  .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
  }
}
